<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" >
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="Azure">

    <settings>
      <setting name="AzureSearchSuggesterName" value="sg" />
      <setting name="AzureSearchSuggesterFields" value="name,title" />
      <setting name="AzureSearchSuggesterFuzzy" value="true" />
      <setting name="AzureSearchSuggesterHighlight" value="false" />
      <setting name="AzureSearchSuggesterHighlightTag" value="em" />
    </settings>

    <services>
      <register serviceType="Sitecore.XA.Foundation.Search.Services.ISuggester, Sitecore.XA.Foundation.Search" implementationType="Sitecore.HabitatHome.Foundation.Search.Services.AzureSearchSuggester, Sitecore.HabitatHome.Foundation.Search" lifetime="Singleton"/>
    </services>

    <contentSearch>

      <searchService type="Sitecore.ContentSearch.Azure.Http.SearchService, Sitecore.ContentSearch.Azure">
        <patch:attribute name="type" value="Sitecore.HabitatHome.Foundation.Search.Services.SearchService, Sitecore.HabitatHome.Foundation.Search" />
      </searchService>

      <searchServiceClient type="Sitecore.ContentSearch.Azure.Http.SearchServiceClient, Sitecore.ContentSearch.Azure">
        <patch:attribute name="type" value="Sitecore.HabitatHome.Foundation.Search.Services.AzureSearchServiceClient, Sitecore.HabitatHome.Foundation.Search"/>
      </searchServiceClient>

      <schemaSynchronizer type="Sitecore.ContentSearch.Azure.Schema.SearchServiceSchemaSynchronizer, Sitecore.ContentSearch.Azure">
        <patch:attribute name="type" value="Sitecore.HabitatHome.Foundation.Search.Services.SearchServiceSchemaSynchronizer, Sitecore.HabitatHome.Foundation.Search"/>
      </schemaSynchronizer>

      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_sxa_master_index" type="Sitecore.XA.Foundation.Search.Providers.Azure.CloudSearchProviderIndex, Sitecore.XA.Foundation.Search.Providers.Azure">
            <patch:attribute name="type" value="Sitecore.HabitatHome.Foundation.Search.CloudSearchProviderSuggestionIndex, Sitecore.HabitatHome.Foundation.Search" />

            <searchService type="Sitecore.HabitatHome.Foundation.Search.Services.CompositeSearchService, Sitecore.HabitatHome.Foundation.Search"/>
          </index>

          <index id="sitecore_sxa_web_index" type="Sitecore.XA.Foundation.Search.Providers.Azure.CloudSearchProviderIndex, Sitecore.XA.Foundation.Search.Providers.Azure">
            <patch:attribute name="type" value="Sitecore.HabitatHome.Foundation.Search.CloudSearchProviderSuggestionIndex, Sitecore.HabitatHome.Foundation.Search" />

            <searchService type="Sitecore.HabitatHome.Foundation.Search.Services.CompositeSearchService, Sitecore.HabitatHome.Foundation.Search"/>
          </index>
        </indexes>
      </configuration>

    </contentSearch>

  </sitecore>
</configuration>